<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>

    <div class="container content-area">

      <h3>Why We Created the App</h3>
      <p>One of our teammate’s family members was diagnosed with Type 1 diabetes. He was told to keep a food journal with his blood sugar readings and to log everything he ate.</p>
      <p>But as with most people, managing the journal was way too complicated. Some information was on paper, some on his phone…and a lot was just never written down.</p>
      <p>So we wanted to come up with a <strong>solution to empower diabetics to self-manage their food journaling</strong>. And an Android app was desperately needed since there are virtually no other apps on the market that are specifically for people with diabetes. And the ones that do exist, weren’t user-friendly for people with busy schedules.</p>
      <p>As luck would have it, the cultivateHealth hackathon, an Austin, TX community health project to improve health care, needed people with ideas for creating apps. This made it the perfect time to make dLogit a reality.</p>
      <p>The app was launched during the hackathon, and since then, we haven’t looked back.</p>

    </div>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

    <script type="text/javascript" src="/authentication/authentication.client.module.js"></script>
    <script type="text/javascript" src="/authentication/controllers/authentication.client.controller.js"></script>
    <script type="text/javascript" src="/authentication/config/authentication.client.routes.js"></script>

    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

    <script type="text/javascript" src="/application.js"></script>

  </body>
</html>
