<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>

    <div class="container content-area">
      <section ng-view></section>
    </div>

    <script type="text/javascript">
      window.user = <%- user || 'null' %>;
    </script>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="/authentication/authentication.client.module.js"></script>
    <script type="text/javascript" src="/authentication/controllers/authentication.client.controller.js"></script>
    <script type="text/javascript" src="/authentication/config/authentication.client.routes.js"></script>

    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

    <script type="text/javascript" src="/meals/meals.client.module.js"></script>
    <script type="text/javascript" src="/meals/controllers/meals.client.controller.js"></script>
    <script type="text/javascript" src="/meals/services/meals.client.service.js"></script>
    <script type="text/javascript" src="/meals/config/meals.client.routes.js"></script>

    <script type="text/javascript" src="/bloodsugars/blood-sugars.client.module.js"></script>
    <script type="text/javascript" src="/bloodsugars/controllers/blood-sugars.client.controller.js"></script>
    <script type="text/javascript" src="/bloodsugars/services/blood-sugars.client.service.js"></script>
    <script type="text/javascript" src="/bloodsugars/config/blood-sugars.client.routes.js"></script>

    <script type="text/javascript" src="/about/about.client.module.js"></script>
    <script type="text/javascript" src="/about/about.client.routes.js"></script>

    <script type="text/javascript" src="/application.js"></script>

  </body>
</html>
